.login-form {
    z-index: 1;
    background-color: #fff;
    border-radius: 10px;
    width: 100%;
    max-width: 450px;
    padding: 40px;
    position: relative;
    box-shadow: 0 10px 25px #0000000d;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
}

.form-group label {
    font-size: 14px;
    color: #555;
    margin-bottom: 8px;
    font-weight: 500;
}

.email {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
}

.password {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
}

input {
    height: 48px;
    padding: 0 15px;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    font-size: 16px;
    transition: all 0.3s ease;
    background-color: #f9f9f9;
}
input:focus {
    outline: none;
    border-color: #fde50d;
    box-shadow: 0 0 0 2px rgba(253, 229, 13, 0.2);
    background-color: white;
}


button {
    background-color: #c6c2c2;
    color: #333;
    border: none;
    height: 48px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 10px;
}

button:hover {
    background-color: #b89a04;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(184, 154, 4, 0.2);
}
button:active {
    transform: translateY(0);
}
