.grafico {
    border: solid 1px black;
    padding: 30px;
    border-radius: 6px;
    margin-top: 10px;
    height: 40%;
    width: 60%;
}

.grafico canvas {
    width: 600px !important;
    height: 300px !important;
}